body {
	background-color: white;
	color: black;
	padding-top: 67px; /* compensate for fixed navbar height */
}

/* caret spacing on default playlist selector dropdown */
.playlist-selector.dropdown-toggle::after {
  margin-left: 0.75em;
}   